//Google font
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$background-color-primary:#2c333d;
$background-color-secondary:#6abd19;
$font-color-base:#ffffff;
$font-color-opp:#000000;

body{
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	font-weight:400;
	background:$background-color-primary;
	color:$font-color-base;
}
h1,h2,h3,h4,h5,h6{
	font-family:'Montserrat', sans-serif;
}
h2{
	font-size:1.8rem;
}
input:focus,button:focus{
	outline:none;
}
img{
	max-width:100%;
	max-height:100%;
}
a{
	&:hover{
		color:$background-color-primary;
		transition:all 0.33s cubic-bezier(0.125, 0.75, 0.415, 1);
	}
}
.main{
	height:100vh;
}
header{
	width:100%;
	height:70px;
	background:$background-color-secondary;
	@media screen and (min-width:640px){
		height:90px;
	}
}
section{
	margin-top:-15px;
	@media screen and (min-width:400px){
		margin-top:0px;
	}
}
.page-loader,.error-page,.no-results{
	text-align: center;
	margin-top:50px;
}
.page-loader .loader span{
	background:$background-color-secondary!important;
}
.error-pic{
	color: #D6181F;
}
.header-content{
	height:70px;
	padding:5px 15px;
	@media screen and (min-width:640px){
		height:90px;
	}
}
.logo,.notification{
	padding:10px;
	color:#fff;
}
.logo{
	margin-top:-5px;
	display:inline-block;
	height:70px;
	padding-left:0px;
	@media screen and (min-width:640px){
		height:90px;
	}
}
.notification{
	margin-top:10px;
	@media screen and (min-width:640px){
		margin-top:20px;
	}
}
.search-box{
	width:100%;
	@media screen and (min-width:640px){
		width:50%;
	}
}
.search-box input{
	margin:5px 5px 10px 0px;
	border:none;
	color:#000000;
	width:100%;
	@media screen and (min-width:400px){
		margin:5px 5px 5px 0px;
	}
}
.dropdown{
	position:relative;
}
.dropdown ul{
	padding:0;
	margin:0px;
	clear:both;
	width:120px;
	position:absolute;
	top:41px;
	z-index:1;
	display:none;
}
.dropdown.right a{
	float:right;
	margin:0px;
	height:40px;
}
.dropdown.right a i{
	position:relative;
	right:-5px;
}
.dropdown.right ul{
	right:0;
}
.dropdown ul li{
	list-style:none;
	width:100%;
	margin:0px;
}
.dropdown ul li button{
	width:100%;
}
.controls{
	padding:20px 20px;
}
.button{
	margin:5px;
}
.parcel-item{
	position:relative;
	text-align:center;
	color:$font-color-opp;
	margin:5px 0px;
}
.parcel-content{
	margin:0px 5px;
	position:relative;
	height:inherit;
	background:$font-color-base;
}
.parcel-content h2{
	font-size:1rem;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:0;
	padding:10px 5px;
}
.parcel-content h2:after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#eee;
	opacity:0.95;
	z-index:-1;
}
.parcel-image{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}
.parcel-image:after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#000000;
	opacity:0.15;
}
.parcel-info{
	position:absolute;
	bottom:50px;
	width:100%;
}
.color-code{
	width:30px;
	height:30px;
	margin:5px;
	border:2px solid #212121;
	display:inline-block;
}
.bubble-pop{
	position:relative;
}
.bubble-pop > span{
	border-radius:50%;
	display:inline-block;
	color:#fff;
	background:#2199e8;
	width:20px;
	height:20px;
	font-size:10px;
	padding-top:3px;
	text-align:center;
	position:absolute;
	top:0px;
	right:0px;
}
.bubble-pop.green >span{
	background:$background-color-secondary;
	top:-15px;
	right:-10px;
	padding-top:5px;
}
.info-bar{
	margin-bottom:10px;
	color:#555;
}
.info-bar > span{
	display:inline-block;
	width:40%;
	color:#000;
}
.price-box{
	margin:10px 5px 0px 5px;;
	padding:0px 5px;
	color:$font-color-base;
	font-size:14px;
	background:#2199e8;
}
.like-button{
	margin-left:0px;
}
.track-button{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:50px;
	background:$background-color-secondary;
	color:$font-color-base;
	padding:12px 10px;
}
#parcel-item-container .mix{
	height:250px;
	display:none;
}

[class*="parcel-item"]:last-child{
	float:left!important;
}
.reveal{
	color:$font-color-opp;
}
.map{
  height:500px;
  margin-bottom:15px;
  position:relative;
}
#map_canvas{
  width:100%;
  height:500px;
}
.map-loader{
	display:table;
	width:100%;
	height:100%;
	background:#efefef;
	position:absolute;
	z-index:999;
}
.loader-content{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.loader{
    position:relative;
    width: 42px;
    height: 42px;
    margin:0px auto;
    animation: preloader 5s infinite linear;
}
.loader span{
    width:20px;
    height:20px;
    position:absolute;
    background:#0266C8;
    display:block;
    animation: preloader_span 1s infinite linear;
}
.loader span:nth-child(1){
	background:#0266C8;
	animation-delay: 0s;
}
.loader span:nth-child(2){
	background:#F90101;
	left:22px;
    animation-delay: .2s;
}
.loader span:nth-child(3){
	background:#F2B50F;
	top:22px;
    animation-delay: .4s;
}
.loader span:nth-child(4){
	background:#00933B;
	top:22px;
	left:22px;
    animation-delay: .6s;
}

@keyframes preloader {
   0% { transform:rotate(0deg); }
   50% { transform:rotate(180deg); }
   100% { transform:rotate(360deg); }
}

@keyframes preloader_span {
   0% { transform:scale(1); }
   50% { transform:scale(0.5); }
   100% { transform:scale(1); }
}

.fake-modal{
	position:fixed;
	top:70px;
	left:0;
	right:0;
	bottom:0;
	z-index:0;
	background:treansparent;
	@media screen and (min-width:640px){
		top:90px;
	}
}
.fake-modal-wrapper{
	overflow:auto;
	height:100vh;
	max-width:75rem;
	margin:0px auto;
	background:#fff;
	color:#000;
	padding:15px 10px 95px;
	position:relative;

	 @media screen and (min-width:640px){
		padding:35px 10px 25px;
	 }
}
.product-info{
	position:relative;
}
.product-info h2{
	font-size:1.5rem;
	padding:0px 10px;
	display:inline-block;
}
.product-info span.color-code{
	position:relative;
	top:7px;
}
.window-img > img{
	margin:0px auto;
	display:block;
	max-height:300px;
}
a.close-window{
	position:fixed;
	top:72px;
	right:2px;
	opacity:0.8;
	@media screen and (min-width:640px){
		top:92px;
	 }
}
.noscroll{
	overflow:hidden;
}
.hidden{
	display:none;
}