//Google font
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$background-color-primary:#2c333d;
$background-color-secondary:#6abd19;
$font-color-base:#ffffff;
$font-color-opp:#000000;

body{
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	font-weight:400;
	background:$background-color-primary;
	color:$font-color-base;
}
h1,h2,h3,h4,h5,h6{
	font-family:'Montserrat', sans-serif;
}
h2{
	font-size:1.8rem;
}
img{
	max-width:100%;
	max-height:100%;
}
section{
	padding:10px;
}
header{
	width:100%;
	height:60px;
	background:$background-color-secondary;
}
.controls{
	padding:10px 10px;
}
.button{
	margin:5px;
}
.parcel-item{
	position:relative;
	text-align:center;
	color:$font-color-opp;
	margin:5px 0px;
}
.parcel-content{
	margin:0px 5px;
	position:relative;
	height:inherit;
	background:$font-color-base;
}
.parcel-content h2{
	font-size:1rem;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:0;
	padding:10px 5px;
}
.parcel-content h2:after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#eee;
	opacity:0.95;
	z-index:-1;
}
.parcel-image{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}
.parcel-image:after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#000000;
	opacity:0.15;
}
.parcel-info{
	position:absolute;
	bottom:50px;
	width:100%;
}
.color-code{
	width:20px;
	height:20px;
}
.track-button{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:50px;
	background:$background-color-secondary;
	color:$font-color-base;
}
#parcel-item-container .mix{
	height:250px;
	display:none;
}

[class*="parcel-item"]:last-child{
	float:left!important;
}
.reveal{
	color:$font-color-opp;
}

#map_canvas{
  width:100%;
  height:500px;
  margin-bottom:45px;
}
.fake-modal{
	position:fixed;
	top:60px;
	left:0;
	right:0;
	bottom:0;
	z-index:0;
	background:treansparent;
}
.fake-modal-wrapper{
	overflow:auto;
	height:100vh;
	max-width:75rem;
	margin:0px auto;
	background:#fff;
	color:#000;
	padding:45px 10px 25px;
	position:relative;
}
.fake-modal-header{
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
a.close-window{
	position:absolute;
	top:10px;
	right:15px;
}
.noscroll{
	overflow:hidden;
}
.hidden{
	display:none;
}