@import url("https://fonts.googleapis.com/css?family=Montserrat");
html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background: #2c333d;
  color: #ffffff;
}
