@import url("https://fonts.googleapis.com/css?family=Montserrat");
html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background: #2c333d;
  color: #ffffff;
}

#parcel-item-container .mix {
  min-height: 500px;
  display: none;
}

[class*="parcel-item"]:last-child {
  float: left !important;
}

.reveal {
  color: #000000;
}

#map_canvas {
  width: 100%;
  height: 500px;
  margin: 15px 10px;
}
